In [20]:
import pandas as pd
import numpy as np
import random

In [25]:
EMOTIONS = ["anger", "disgust", "fear", "joy", "sadness", "surprised", "neutral"]
index_points = list(np.arange(48, 69))

# containing points from 48 to 68 
each_emotion_points = [(int(random.random()*100), int(random.random()*100)) for i in range(48, 69)]
every_emotion_points = [[(int(random.random()*100), int(random.random()*100)) for i in range(48, 69)] for i in range(7)]

In [26]:
df = pd.DataFrame()
for i in range(len(EMOTIONS)):
    df[EMOTIONS[i]] = pd.Series(every_emotion_points[i], index=index_points)

       anger   disgust      fear       joy   sadness surprised   neutral
48  (54, 82)  (35, 24)  (12, 98)  (37, 14)  (29, 25)  (67, 19)   (59, 5)
49   (64, 4)   (5, 53)  (43, 91)   (4, 24)   (44, 5)  (72, 52)  (49, 84)
50  (15, 44)    (9, 8)  (47, 42)  (73, 18)  (47, 89)  (30, 31)   (1, 18)
51  (33, 89)   (51, 4)  (47, 96)  (96, 30)  (82, 30)  (80, 59)  (32, 24)
52  (55, 27)  (13, 48)  (10, 93)  (19, 16)  (19, 12)  (46, 44)  (73, 54)
53  (65, 60)   (86, 9)  (10, 40)  (83, 14)  (27, 61)   (1, 84)  (80, 74)
54  (35, 25)  (45, 91)  (26, 32)  (18, 50)  (19, 16)  (51, 62)  (60, 80)
55   (8, 36)  (65, 85)   (6, 83)  (50, 12)  (54, 84)  (66, 29)  (85, 52)
56  (23, 87)   (5, 44)  (74, 22)  (71, 29)   (2, 53)  (47, 90)  (69, 20)
57   (47, 8)  (21, 75)   (23, 2)  (73, 91)  (94, 97)  (63, 49)  (48, 67)
58  (51, 58)  (74, 30)  (86, 34)  (37, 44)  (99, 29)  (85, 50)  (12, 29)
59  (49, 43)  (59, 12)  (24, 63)  (46, 23)  (25, 74)   (4, 19)  (50, 29)
60  (15, 18)  (40, 18)  (85, 22)  (92, 49)   (2, 61)  (79, 49)  (29, 53)
61  (40, 84)  (27, 42)  (42, 16)  (20, 25)  (98, 63)   (49, 5)  (52, 44)
62  (72, 50)   (3, 70)  (11, 88)  (60, 28)  (25, 11)   (8, 25)  (92, 18)
63  (79, 63)  (46, 62)  (14, 17)  (84, 74)  (46, 22)  (55, 28)  (12, 32)
64  (34, 31)  (87, 44)   (55, 3)  (58, 68)   (7, 37)  (73, 29)  (12, 30)
65  (13, 31)  (41, 85)  (25, 40)  (33, 33)  (83, 58)  (20, 32)  (66, 38)
66   (0, 35)  (99, 46)  (53, 24)  (51, 50)   (1, 54)  (72, 79)  (39, 23)
67   (4, 59)  (61, 88)    (1, 5)  (49, 57)  (98, 68)  (17, 20)  (99, 32)
68  (49, 35)  (22, 36)   (0, 90)   (7, 37)  (96, 57)  (83, 99)  (77, 31)

In [3]:
import pandas as pd
columns_index = ["emotion", "pixels"]
all_faces_list = list()

all_faces_list.append([0, '1234 1231 2561 45145'])
all_faces_list.append([1, '3463 4364 3466 46345'])

df = pd.DataFrame(all_faces_list, columns=columns_index)
df

   emotion                pixels
0        0  1234 1231 2561 45145
1        1  3463 4364 3466 46345

array([48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64,
       65, 66, 67, 68])